Q1. Explain with an example each when to use a for loop and a while loop.

For Loop :

when we know the no of iterations, also loop start first, then it check the condition.

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

While loop:

It first check the condition, loop only runs if the condition satisfy.

In [5]:
n = 0
while n<10:
    print(n)
    n = n+1

0
1
2
3
4
5
6
7
8
9

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

For Loop

In [6]:
sum =0 
prd = 1

for i in range(1,11):
    sum = sum+i
    prd = prd * i

print( 'Sum is : ', sum, '\nproduct is : ',prd)

Sum is :  55
product is :  3628800

While Loop

In [7]:
i = 1
sum = 0 
prd = 1
count = 1
while count <=10 :
    sum = sum + i
    prd = prd * i 
    i += 1
    count +=1
    
print( 'Sum is : ', sum, '\nproduct is : ',prd)

Sum is :  55
product is :  3628800

3. Complete the electricity bill of house

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [8]:
unit = int(input ("Enter the unit"))


if unit < 100:
        cash = unit * 4.5
        print(" Bill : ", cash)
        #break
        
else :
    cash = 100*4.5
    unit = unit - 100
    if unit < 100:
        cash += unit * 6
        print(" Bill : ", cash)
        #break
        
    else: 
        cash += 100*6
        unit = unit - 100
        if unit <100:
            cash += unit*10
            print(" Bill : ", cash)
            #break
                
        else:
            cash += 100 * 10
            unit = unit - 100
            cash += unit*20
            print (" Bill : ", cash)

Enter the unit 310

 Bill :  2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

With For Loop

In [9]:

n = range(1,101)

output_list = []
for i in n:
    
    """print(i)
    i +=1"""
    
    if pow(i,3)%4 == 0 or pow(i,3)%5 == 0:
        output_list.append(i)
    

output_list

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

with While Loop

In [10]:
output_list = []
i = 1

while i <= 100:
    if pow(i,3)%4 == 0 or pow(i,3)%5 == 0:
        output_list.append(i)
    i += 1
    

#len(output_list)
output_list

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [11]:
string = "I want to become a data scientist"

vowel = ['A', 'E', 'I', 'O', 'U']
count = 0
for i in string: 
    for j in vowel:
        if i.upper() == j:
            count +=1
print(count)

12