                                                                    25 Feb Assignment Pandas advance - 2

In [2]:
#Consider following code to answer further questions:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [10]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc : useful to get the data based on values along with index, it first search with the index values. 

iloc : useful to get the data based on indexe position( we need to provide the integer value of the position where data is present).

eg: if we need to get the duration of Big Data Course

In [12]:
df.loc[2, 'duration']

6

In [14]:
df.iloc[2,1]

6

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [15]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [26]:
new_df = df
new_df['reindex'] = [3,0,1,2]
new_df = new_df.set_index('reindex')
new_df

              course_name  duration
reindex
3            Data Science         2
0        Machine Learning         3
1                Big Data         6
2           Data Engineer         4

In [24]:
new_df.loc[2]

course_name    Data Engineer
duration                   4
Name: 2, dtype: object

In [25]:
new_df.iloc[2]

course_name    Big Data
duration              6
Name: 1, dtype: object

new_df.loc[2] : get the data where index value = 2

new_df.iloc[2] : het the data where index position is 2

In [3]:
#Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [4]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.169590  0.987455  0.306176  0.424758  0.736566  0.095783
2  0.678031  0.258542  0.925655  0.713575  0.511046  0.846308
3  0.378962  0.075475  0.188265  0.730809  0.856047  0.456238
4  0.402339  0.635229  0.879500  0.897168  0.517660  0.191685
5  0.578133  0.216539  0.581793  0.497466  0.373221  0.038224
6  0.881408  0.872976  0.247319  0.163707  0.757072  0.528307

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [6]:
df1.mean()

column_1    0.514744
column_2    0.507702
column_3    0.521451
column_4    0.571247
column_5    0.625269
column_6    0.359424
dtype: float64

In [41]:
df1['column_2'].std()

0.3038440716618561

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [7]:
df1.loc[2, 'column_2'] = "string value"

In [8]:
df1

   column_1      column_2  column_3  column_4  column_5  column_6
1  0.169590      0.987455  0.306176  0.424758  0.736566  0.095783
2  0.678031  string value  0.925655  0.713575  0.511046  0.846308
3  0.378962      0.075475  0.188265  0.730809  0.856047  0.456238
4  0.402339      0.635229  0.879500  0.897168  0.517660  0.191685
5  0.578133      0.216539  0.581793  0.497466  0.373221  0.038224
6  0.881408      0.872976  0.247319  0.163707  0.757072  0.528307

In [9]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Arithmetic/Statistics operations isn't possible on string datatype

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

ANS : The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row.
The windows functions help us to perform the aggregated calculations across various partitions or cross-sections of the data.

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [11]:
import datetime as dt
today = str(dt. date. today())

In [12]:
today

'2023-03-03'

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [6]:
import pandas as pd

start_date = input("Enter your start Date in format YYYY-MM-DD : ")
end_date = input("Enter your end date in format YYYY-MM-DD :    ")

df8 = pd.DataFrame({'start_date': [start_date], 'end_date': [end_date] })

Enter your start Date in format YYYY-MM-DD :  2022-01-03
Enter your end date in format YYYY-MM-DD :     2023-01-03

In [8]:
import numpy as np

#formatting into datetime
df8[['start_date','end_date']] = df8[['start_date','end_date']].apply(pd.to_datetime)

#calculate difference between dates
df8['diff_days'] = (df8['end_date'] - df8['start_date']) / np.timedelta64(1, 'D')

#view updated DataFrame
print(df8)

  start_date   end_date  diff_days
0 2022-01-03 2023-01-03      365.0

Q9. Read a input file and display the sorted data based on column name and category order.

In [ ]:
import pandas as pd 

data9 = input("Enter the FILE PATH : ")
df9 = pd.read_csv(data9)

In [ ]:
col = input("Kindly provide the column name : ")
cat_order = input("on which order you want to sort the data : ascending/ descending type any 1? ")

In [ ]:
cat_order = cat_order.upper()

if cat_order == 'ASCENDING':
    df9 = df9.sort_values(cat, ascending = True)
    
elif cat_order == 'DISCENDING':
    df9 = df9.sort_values(cat, ascending = False)
    
else:
    print("Re-execute the program and select proper values from your below selected table ")

df9

Q10 . CSV data with sales data of different products and visualize by stacked bar chart and show sales of each prod by time 
enter the file path and display the chart

In [7]:
import pandas as pd

data10 = input("Please provide us the file path")
df10 = pd.read_csv(data10)
                  
#df10 = pd.read_csv(r"C:\Users\06533V744\Desktop\ML\Class\Data\supermarket_sales_sovan.csv")
df10

 Enter your file  supermarket_sales - Sheet1.csv

In [ ]:
row = input("Which Column you want to take as X axis : ")
col = input("Which Column you want to take as Y axis : ")
import seaborn as sns
sns.barplot(y=df10[col], x = df10[row])

Q11. Working on Student Dataset

In [ ]:
import pandas as pd

data11 = input("Please provide us the file path")
df11 = pd.read_csv(data11)
                  
#df11 = pd.read_csv(r"C:\Users\06533V744\Desktop\ML\Class\Data\Sudent_data_sovan.csv")
df11

In [ ]:
a = df11['Test Score'].mean()
b = df11['Test Score'].median()
c = df11['Test Score'].mode()

In [ ]:
df11n = {'mean' : a, 'median' : b, 'mode' : c}
df11n