                                    Assignment 30 JAN

1. Program on Grade calculation

In [5]:
Marks = float (input ( "Enter your Marks: "))

if Marks > 90 :
    print ("your Grade A")
    
elif Marks > 80 :
     print ("your Grade B")

elif Marks > 60 :
     print ("your Grade C")
        
else :
     print ("your Grade D")

Enter your Marks:  80.2

your Grade B

2. Program on Bike Tax calculation

In [7]:
Cost_Price = float (input ("Enter the Price of your Bike : "))

if Cost_Price > 100000 :
    print ( "Tax is " , Cost_Price*0.15)
    
elif Cost_Price > 50000 :
    print ("Tax is : ", Cost_Price*0.1)
    
else: 
    print("Tax is : ", Cost_Price*0.05)

Enter the Price of your Bike :  203232.22

Tax is  30484.833

3. Monuments based on City

In [10]:
City = input ("Enter the City :")

City = City.upper()

if City == 'DELHI':
    print (" Monument of Delhi is : Red Fort")
    
elif City == "AGRA":
    print (" Monument of Agra is : Taj Mahal")

elif City == "JAIPUR":
    print (" Monument of Jaipur is : Jal Mahal")

else:
    print(" Sorry!!!! your city isn't listed here")

Enter the City : delHI

 Monument of Delhi is : Red Fort

4. How many times a Given No can be divided by 3 before it is less than or equal to 10

In [11]:

number = float(input("Give a Number: "))

if number > 10:
    Count = number/3 - 3
    print(" Given No can be divided by 3 before it is less than or equal to 10 :", int(Count))
    
else: 
    print(" Sorry!!! your number is less than 10")

Give a Number:  17

 Given No can be divided by 3 before it is less than or equal to 10 : 2

5. when and why use While Loop

In [4]:
"""
1. our function should check the condition first before it executes 
2. whe we don't know how many time (no of iterations) our loop will run, it executes only when our condition is true.
"""

"\n1. our function should check the condition first before it executes \n2. whe we don't know how many time (no of iterations) our loop will run, it executes only when our condition is true.\n"

In [3]:
#suppose we are trying to get the FIBONACCI Series - here our loop only stops when our condition wont satisfy

In [12]:
num = int(input("Enter the limit"))

aprev = 0
bnext = 1
i = 0

while i <= num :
    print(aprev)
    c = aprev + bnext
    aprev = bnext
    bnext = c
    i = i+1

Enter the limit 5

0
1
1
2
3
5

6. NESTED WHILE LOOP TO PRINT 3 DIFFERNT PATTERN

In [ ]:
#PATTERN 1

In [13]:
num = int(input("enter the no of rows: "))
          
i = 1
while i<=num:
    j = 1
    while (j<=i):
        print(j, end = " ")
        j = j+1
    print("\n")
    i = i+1

enter the no of rows:  6

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

In [ ]:
#Pattern 2

In [14]:
num = int(input("enter the no of rows: "))
          
i = 0
while i<=num :
    j = num
    while (j>i):
        print(i,  end = " ")
        j = j-1
    print("\n")
    i = i+1

enter the no of rows:  6

0 0 0 0 0 0

1 1 1 1 1

2 2 2 2

3 3 3

4 4

5

In [ ]:
#pattern 3

In [15]:
num = int (input("enter the no of ROWS of PYRAMID"))
count = 1

while count<=num:
    i = 0
    
    while i<= (num-count):
        print(" ", end = " ")
        i+= 1
    i=0    
    while i < (2*count-1):
        print("*", end = " ")
        i+= 1
        
    print("\n")
    count += 1

enter the no of ROWS of PYRAMID 5

          *

        * * *

      * * * * *

    * * * * * * *

  * * * * * * * * *

7. Reverse a While Loop to display number from 10 to 1

In [16]:
num = 10

while num > 0:
    print(num)
    num = num -1

10
9
8
7
6
5
4
3
2
1

8. Reverse a While Loop to display number from 10 to 1

In [17]:
#another approach: 

num = 10
l = []
while num > 0:
    l.append(num)
    num = num -1
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]